.main {
    width: 100%;
    padding: 22px 0 32px 0;
    font-family: Nunito;
}
.searchMenu, .searchMenuInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px 0 22px;
}
.searchMenu {
    /*margin-bottom: 30px;*/
}
.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #E7E7E7;
    width: 70%;
    padding: 0 10px;
}
.searchIconInput {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}

.searchMenu h2 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #171717;
}

.searchMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.searchInput {
    height: 42px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    gap: 8px;
    background: #E7E7E7;
    border: none;
    outline: none;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #C1C1C3;
}
.searchMenuInput .newPosition {
    width: 164px;
    height: 42px;
    border-radius: 6px;
    background: #00315D;
    color: white;
    margin-left: 20px;
}
.searchIcon {
    cursor: pointer;
}
.searchIconInput {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}

.filterStaffTitle {
    width: 220px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #00315D;
    margin-left: 30px;
}
.checkboxDay {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    padding: 5px;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: -5px;
    margin-right: 12px;
}

.checkboxDay:checked {
    background-color: #F5F5F5;
    border: 1px solid #00315d;
}

.checkboxDay:checked::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 16px;
    border: solid #00315D;
    border-width: 0 3px 3px 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
