* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 40px 0 200px 0;
    z-index: 100;
}

.modalContainer {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto 0;
    font-family: Nunito;
}
.titleModal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
.titleModal .modalCloseButton {
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
}
.imageLabel {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 20px 0 16px 0;
}
.textInput {
    width: 100%;
}

.textInput, .amountInput, .selectInput {
    height: 66px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: #EDEDED;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    outline: none;
}

.nameOfInput {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 5px;
    color: #C1C1C3;
}
.categoryAndPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.compositionOfDish {
    display: flex;
    margin-top: 10px;
    width: 280px;
    margin-right: 10px;
}
.addButton {
    margin: 20px 0 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton, .cancelButton, .saveButton {
    width: 252px;
    height: 54px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 16px;
    border-radius: 6px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.cancelButton {
    background-color: #ffffff;
    border: 1px solid #00315d;
    color: #00315d;
}
.saveButton , .addButton  {
    background-color: #00315d;
    color: #ffffff;
}
.errorMessage {
    color: #FF4B4B;
    margin: 10px 0;
    font-size: 16px;
}
.saveButton[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
