.main {
    padding: 16px 0 32px 22px;
}
.searchMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.searchMenu h2 {
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #171717;
}
.searchMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.searchInput {
    width: 976px;
    height: 42px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    gap: 8px;
    background: #E7E7E7;
    border: none;
}
.searchMenuInput button {
    width: 164px;
    height: 42px;
    border-radius: 6px;
    background: #00315D;
    color: white;
    margin-left: 20px;
}
.searchIcon {
    cursor: pointer;
}
