.main {
    padding: 16px 56px 32px 22px;
}
.searchMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.searchMenu h2 {
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #171717;
}
.searchInput {
    width: 976px;
    height: 42px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    gap: 8px;
    background: #E7E7E7;
    border: none;
}
/* YourComponent.module.css */
.searchInput::placeholder {  /* Это будет целевым элементом для стилей плейсхолдера */
  background-color: red; /* Пример цвета текста */
  opacity: 1; /* Необходимо для некоторых браузеров, чтобы цвет был виден */
}

/* Поддержка разных браузеров */
.searchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #909090;
}

.searchInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #909090;
}

.searchMenuInput button {
    width: 164px;
    height: 42px;
    border-radius: 6px;
    background: #00315D;
    color: white;
    margin-left: 20px;
}
.searchIcon {
    margin-right: 90px;
}
