.main {
    width: 100%;
    padding: 22px 0 32px 0;
}
.searchMenu, .searchMenuInput {
    padding: 0 56px 0 22px;
    display: flex;
    justify-content: space-between;
}
.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #E7E7E7;
    width: 85%;
    padding: 0 10px;
}
.searchMenu h2 {
    margin-bottom: 24px;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #171717;
}
.searchMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.searchInput {
    height: 42px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    gap: 8px;
    background: #E7E7E7;
    border: none;
    outline: none;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #C1C1C3;
}
.searchMenuInput .newPosition {
    width: 164px;
    height: 42px;
    border-radius: 6px;
    background: #00315D;
    color: white;
    margin-left: 20px;
    border: none;
}
.searchIcon {
    cursor: pointer;
}
.searchIconInput {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
