.table {
  font-family: Nunito;
  margin-top: 1%;
  max-width: 100%;

  &__caretIcon {
    width: 20px;
    height: 20px;
  }

  & th {
    margin-right: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: start;
    &:first-child {
      text-align: center;
    }
  }

  & tbody td {
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
  }

  & tbody tr {
    background: #f9f9f9;

    & td:first-child {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__branch {
    display: flex;
    margin-top: 10px;
    gap: 30px;
  }

  &__categoryTh {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-left: 20px;
  }

  &__caretDown {
    margin-top: 3px;
  }

  &__hrLine {
    max-width: 1238px;
    height: 2px;
    background: #171717;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & button {
    width: 37px;
    height: 36px;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  & .activeNum {
    border-bottom: 1px solid #000;
    padding-top: 2px;
  }

  & .rightBtn {
    border-left: 1px solid #d8d8d8;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  & .leftBtn {
    border-right: 1px solid #d8d8d8;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
