.table {
  font-family: Nunito;
  margin-top: 1%;
  width: 110%

}
.table__caretIcon {
  width: 20px;
  height: 20px;
}
.table th {
  margin-right: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: start;
  border: none;
}
.table th:first-child {
  text-align: center;
}
.table th:nth-child(2) {
  width: 15%;
}
.table th:nth-child(3) {
  width: 15%;
}
.table th:nth-child(5) {
  width: 20%;
}
.table th:nth-child(6) {
  width: 20%;
}

.table tbody td {
  padding: 20px 30px 20px 0;
  font-size: 18px;
  font-weight: 600;
  height: 86px;
}
.table tbody td:not(:last-child) {
  border-bottom: 2px solid #E7E7E7;
  background: #f9f9f9;
}
.table tbody td:last-child {
  margin-left: 20px;
}
.table tbody tr td:first-child {
  padding-left: 20px;
  padding-right: 20px;
}
.table__branch {
  display: flex;
  margin-top: 10px;
  gap: 30px;
  position: relative;
}
.table__branch .dotsIcon {
  height: 32px;
  cursor: pointer;
}
.table__categoryTh {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}
.table__caretDown {
  margin-top: 3px;
}
.table__hrLine {
    width: 110%;
    height: 2px;
    background: #171717;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.paginationContainer button {
  width: 37px;
  height: 36px;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.paginationContainer .activeNum {
  border-bottom: 1px solid #000;
  padding-top: 2px;
}
.paginationContainer .rightBtn {
  border-left: 1px solid #d8d8d8;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.paginationContainer .leftBtn {
  border-right: 1px solid #d8d8d8;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.dropdown {
  position: absolute;
  border: 1px solid #ccc;
  z-index: 100;
  border-radius: 6px;
  width: 190px;
  background: #E3E3E3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown .menuCategory  {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px 8px 20px;
  cursor: pointer;
}

.dropdown .menuCategory:not(:first-child):hover {
  background-color: #ddd;
}

